/*----------------------- Main ------------------------*/

*::selection {
  background-color: $darkgrey;
  color: $lightgrey;
}

html,
body {
  height: 100%;
  font-family: $font-main;
  font-size: rem(16);
}

.wrapper {
  display: table;
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  background: $main-color;
  .main-layout {
    display: table-row;
    height: 100%;
    background-color: $lightgrey;
  }
}